
.container-posiciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .input-posiciones {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .search-icon-posiciones {
    margin-top: 10px;
    cursor: pointer;
    border: 2px solid #000449;  
    border-radius: 5px; 
    padding: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;  
  }
  
  
  .search-icon-posiciones:hover {
    background-color: #000449;  
    transform: scale(1.1);
  }
  
  
  .no-data-posiciones {
    color: #ff0000;
    font-weight: bold;
    font-size: 1rem;
  }

  .fecha-inputs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.input-fecha {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    max-width: 190px;
}
  